[2009-11-03 13:47] quattor-releaser opened #249 "server myproxy"
for server myproxy, this file should be added : /opt/globus/etc/myproxy-server.config
which should be the same as  /opt/glite/etc/myproxy-server.conf
or create a link?

otherwise the CLI myproxy-admin-query doesn't work

Reported by: clleroy

[2014-03-17 11:13] almumontiel opened #23 "UI machine type"
Hi,

I have tried to fresh install a UI machine, and I get this dependency errors:
## [INFO] running component: spma

[WARN] synchronisation with upstream produced warnings: Error: Package: java-1.6.0-sun-compat-1.6.0.24-3.sl5.jpp.x86_64 (@x86_64_sl6_glite)
           Requires: jdk = 2000:1.6.0_24-fcs
           Removing: 2000:jdk-1.6.0_24-fcs.x86_64 (@emi_3_0_updates)
               jdk = 2000:1.

[2014-03-17 15:52] almumontiel opened #24 "WN software/components/symlink/links is undefined"
I get this error while compiling a basic grid/wn machine type.

[code]

I understand this might be assigned to some variable that is empty at the moment, therefore the list of links is empty.

Could you help me solving this?
Cheers

[2014-03-24 08:10] #23 closed, assigned to nobody

[2014-03-26 06:57] almumontiel opened #30 "[ERROR] /usr/sbin/glite-info-static-create does not exist"
Hello,

when I run a fresh install of a CREAM-CE, I get the following error on the gip2 component.
I am using quattor 14.2.1 for deployment.

If I run it a second time, then the error disappears.
Could you please help me with this issue?
Following is the log I see:
## [INFO] running component: gip2

[INFO] 1File /var/lib/bdii/gip/plugin/glite-info-dynamic-ce removed (not part ncm-gip2 configuratio

[2014-04-10 16:02] jouvin opened #45 "GLUE2 infos for CE: missing queue-related informations"
Queue-related information, in particular dynamic ones, are missing in GLUE2 information for CE.

[2014-06-05 11:22] jouvin opened #59 "Review usage of ncm-hostsaccess in bdii config"
At the Spring 2014 workshop we decided to obsolete this configuration module.

[2014-06-16 15:42] nowack73 opened #65 "APEL box: configuration wrong or incomplete"
Hi!

It seems that the configuration of an UMD-3 APEL box is incomplete or wrong. The mysql configuration of a machine built with "machine-types/grid/apel" tries to use
/usr/share/glite-apel-core/scripts/apel-schema.sql which is not available.

I get this output:
## [INFO] running component: mysql

[INFO] Checking if MySQL service (mysqld) is enabled and started...
[INFO] Configuring database acco

[2014-06-16 15:54] nowack73 opened #66 "ARGUS: Missing information in BDII"
Hi,

since the upgrade of our Argus server, I get an error from our NGI's nagios tests (see below). Comparing the templates from UMD-3 branch with those from EMI-2 branch, I see that some lines in "personality/argus/service" have been dropped:

[code]

Therefore nothing about argus is published in BDII.

Best regards,
  Andreas

---8<-----------------------------------------
Current Status:
  CRIT

[2014-06-25 12:00] jrha opened #70 "No LICENSE"

[2014-06-27 14:57] jouvin opened #72 "ncm-xrootd 14.5.0: local redirector should be started first"
In `ncm-xrootd`14.5.0, xrootd instances are (re)started in the instance name alphabetical order (hash key alphabetical order). This is not working anymore in recent versions of xrootd because the local redirector must be started first: federation redirectors startup is not completed until it has successfully established a connection with the local redirector.

[2014-06-28 08:05] #72 closed, assigned to nobody

[2014-08-19 09:33] #70 closed, assigned to nobody

[2014-08-19 09:47] #65 closed, assigned to nobody

[2014-08-19 11:49] #30 closed, assigned to guillaume-philippon

[2014-08-27 15:17] edithknoops opened #79 "cream ce is not working with present templates"
ncm-ncd is failing for cream-ce.

The problem is due to inconsistency:
in `personality/cream_ce/config.pan`:

[code]

and in

`features/lb/locallogger.pan`:

[code]

commenting the line in features/lb/locallogger.pan   solves the problem for cream ce but was not tested for wms and lb.

[2014-09-01 07:18] jouvin opened #80 "VOBOX missing"
In August, we received a report from Maarten Litmaath (grid expert) that Quattor sites were still running unsupported VOBOX, in particular with an obsolte VOMS client (no longer working with SHA2 certificates). In fact we forgot to release the umd-3 support for this machine type. Ideally, should be part of the upcoming 14.8 release (will not break anything anyway).

Maarten's recommandations to bu

[2014-09-01 14:39] pugnere opened #83 "component-gsissh error (quattor 14.2.1) for vobox umd-3 : /usr/setup/gsi_openssh_setup/setup-openssh isn't executable"
On a sl6 vobox, cluster emi2 or umd-3, templates from april 2014 and rpm, the gsissh component has an error : /usr/setup/gsi_openssh_setup/setup-openssh isn't executable

[root@lyogrid05 ncm]# rpm -qa|grep gsi|grep ssh
ncm-gsissh-14.2.1-1.noarch
gsi-openssh-5.3p1-10.el6.x86_64
gsi-openssh-server-5.3p1-10.el6.x86_64
gsi-openssh-clients-5.3p1-10.el6.x86_64

root@lyogrid05 ncm]# ncm-ncd --configure g

[2014-09-03 11:31] nowack73 opened #85 "ncm-vomsclient produces wrong lsc files"
Hello,

I have a problem with the lsc files produced by ncm-vomsclient (14.2.1). When glexec uses an argus server I get this error message in the pepd log for the new SHA-2 certificates:

2014-09-02 22:55:23.860Z - ERROR [AbstractX509PIP] - LSC signature validation failed: matching AA cert CN=voms2.cern.ch,OU=computers,DC=cern,DC=ch fails signature verification.
2014-09-02 22:55:23.860Z - ERROR [P

[2014-09-03 11:36] #85 closed, assigned to nobody

[2014-09-03 21:11] jouvin opened #86 "14.6.0: WMS without a LB not working"
Templates for WMS in 14.6.0 works only with a WMS/LB configuration. A WMS only machine fails to register jobs because it fails to communicate with the LB. Looks like there are some missing services.

[2014-09-04 13:15] #80 closed, assigned to nobody

[2014-09-04 14:37] jouvin opened #87 "WMS configuration fixes"
Upgrading a WMS to 14.6.0 umd-3 templates, a few minor problems where found.

Would be good to merge before 14.8.0 release.

[2014-09-04 16:20] #87 closed, assigned to nobody

[2014-09-05 06:54] jouvin opened #91 "EMI3 VOBOX issues"
Fix problems reported by @Pansanel after #81 was merged.

[2014-09-05 11:29] #91 closed, assigned to nobody

[2014-09-05 12:29] #79 closed, assigned to nobody

[2014-09-05 12:52] #24 closed, assigned to nobody

[2014-09-05 20:34] jouvin opened #93 "gsissh configuration: replace ncm-gsissh by ncm-metaconfig"
The old `ncm-gsissh` does nothing useful with recent version of `gsissh` (see #83 discussion), except updating a configuration file and restarting the service in case of modification. Something that should be easy to handle with `ncm-metaconfig`.

[2014-09-06 05:25] #83 closed, assigned to nobody

[2014-09-27 12:55] jouvin opened #96 "VOMS server: manage voms-admin configuration files"
Currently, the voms-admin configuration files for each VO (located in `/etc/voms-admin`) are unmanaged and thus reflecting default values. It would be good to allow some control on `service.properties` at least as this file contains everything related to the membership renewal policy.

[2014-10-31 08:45] nowack73 opened #101 "features/nfs: wrong handling of nfs version"
Hi,

in e.g. features/nfs/client/autofs.pan (lines 51-59), the handling of nfsversion does not work for SL 6. In SL 6, the default nfs version is 4, but the template assumes that the default is 3 (as it was in SL 4 and 5).

Best regards,
  Andreas

[2014-10-31 10:46] #66 closed, assigned to guillaume-philippon

[2014-11-07 16:31] jouvin opened #108 "GIP configuration for CE: remove packages from features/gip/ce"
Template https://github.com/quattor/template-library-grid/blob/umd-3/features/gip/ce.pan adds packages to the configuration. This is unexpected in this particular template, in particular for the `bdii` package. Not urgent as it proved to work but to be reviewed...

[2014-11-09 21:36] jouvin opened #110 "GIP CE: finalize GLUE2 support"
After introducing GLUE2 support for CE information in 14.10 (#45), finalize this support. This is mainly:
- Fix all the FIXME lines in https://github.com/quattor/template-library-grid/blob/umd-3/features/gip/ce.pan
- Complete support of cluster mode (CE and batch system on different machines), as for GLUE1

Additionally:
- Fix GLUE1 support for cluster mode (too many information published on LRMS-

[2014-11-10 10:11] #45 closed, assigned to guillaume-philippon

[2014-11-19 12:25] Pansanel opened #116 "Parser configuration for multiprocessor jobs"
When a site enables multicore jobs on its batch system, the value of the batch -> parallel option should be set to true.

[2014-11-21 07:51] Pansanel opened #118 "WLCG repository name"
Hi,

In the repository/config/grid.pan, the repository name for WLCG is set to wlcg_x86_64 and only available for sl6. However, a SL5 version is also available:
* http://linuxsoft.cern.ch/wlcg/sl5/x86_64/
* http://linuxsoft.cern.ch/wlcg/sl6/x86_64/

Should we not use the following repo name:
`REPOSITORY_WLCG ?= 'wlcg_' + OS_VERSION_PARAMS['major'] + '_' + PKG_ARCH_DEFAULT;`
and later:
`SELF[length

[2014-11-24 11:43] jouvin opened #120 "GIP CE: fix remaing FIXME lines"
The new GLUE2 compliant GIP CE configuration template (see #110) has a few `FIXME` lines left for minor issues. Would be good to process them at some point...

[2014-12-01 14:43] #110 closed, assigned to jouvin

[2014-12-01 15:16] #108 closed, assigned to nobody

[2014-12-12 17:53] #116 closed, assigned to Pansanel

[2015-01-08 15:18] pigay opened #124 "(quattor-14.10) umd3 dpm problem for dpm-disk without xrootd"
Hi,

We encountered a problem with our dpm-disk servers when upgrading to recent packages (dpm-1.8.9).

For some reason, DPM certs directory `/etc/grid-security/dpmmgr/` is not created. We suspect that this is because we don't have xrootd protocol enabled on our SE.

This directory was present on our SE head node, maybe because of a previous configuration.

It resulted in "no space left on device"

[2015-01-08 15:22] jouvin commented on #124
@pigay thanks for the report, I'll look at it and see if a fix can go into the 14.12 version about to be released.

[2015-01-08 16:48] jouvin commented on #124
I confirm the issue: due to a mistake, at some point the code to create this DPM copy of the host certificate was removed from DPM and left only in xrootd. We probably missed it because many sites (this is basically required for WLCG sites) have xrootd configured.
I do my best to fix it quickly.

[2015-01-08 17:06] jouvin commented on #124
@pigay the fix is available, I'd appreciate if you can test it (just copy the last version of the modified template in your configuration).

[2015-01-09 08:42] pigay commented on #124
Dear @jouvin,

Thanks for the fix. I gave it a try and it looks fine.

I get the following in filecopy log:
[code]

Cheers,

Pierre

[2015-01-09 08:44] #124 closed

[2015-03-17 16:04] jas01 opened #135 "Problem with publication information by BDII-Local"
I got a alert on

`midmon.egi.eu`

on my bdii about information the bdii publish
[code]

[2015-03-18 14:06] Pansanel commented on #135
Which is the version of glite-info-provider-service?

[2015-03-18 14:12] jas01 commented on #135
Actually on my bdii-local I've

glite-info-provider-service-1.13.4-1.el6.noarch

Regards

[2015-03-18 14:15] Pansanel commented on #135
Can you try to downgrade to 1.13.3-1 to see if it works better?

[2015-03-18 14:25] Pansanel commented on #135
Dismiss the previous comment. I have found where the code is:
/usr/libexec/info-dynamic-pbs
Which version of lcg-info-dynamic-scheduler-pbs are you using?

[2015-03-18 14:30] jas01 commented on #135
The downgrade doen't change anything. But you already known that ;-)

I've split my torque server and the cream-ce.

On both

lcg-info-dynamic-scheduler-pbs-2.4.5-1.el6.noarch

regards.

[2015-03-18 14:37] jrha commented on #135
Is this a problem with the Quattor template library or a middleware problem?

[2015-03-18 14:42] Pansanel commented on #135
It may be related to Quattor if it is a gip parser configuration problem. It is not sure.
We have the same rpm (lcg-info-dynamic-scheduler-pbs-2.4.5-1.el6.noarch).
Can you check the content of /var/lib/bdii/gip/plugin/lcg-info-dynamic-ce and try to execute it manually?

[2015-03-18 14:56] jas01 commented on #135
so in the /var/lib/bdii/gip/plugin/lcg-info-dynamic-ce I've got a very simple

[root@torque-grid ~]# more /var/lib/bdii/gip/plugin/lcg-info-dynamic-ce
#!/bin/sh
cat /swareas/dteam/gip-ce-dynamic-info-maui.cache
[root@torque-grid ~]#

and inside this /swareas/dteam/gip-ce-dynamic-info-maui.cache
I've got lot of information, If I stay on one vo

dn: GlueCEUniqueID=cream-ce-grid.obspm.fr:8443/cream-p

[2015-03-18 18:06] Pansanel commented on #135
Which version of template-library-grid are you using? Many work has been done on glue2 static publishing in November. Are you sure you are up to date?

[2015-03-18 18:14] jouvin commented on #135
We started with an email exchange with @jas01 and he confirmed me that he was using 14.10.0. As you said, it is not something we see in other sites so probably due to some local conditions but I guess this is coming from some wrong Quattor configuration at site.

We are running the same version of `glite-info-provider-service` as @jas01 so I'll try to run the GLUE validator on our config again to

[2015-03-19 11:38] jouvin commented on #135
I have checked and cannot reproduce the problem on our CE... which doesn't mean that there is no problem! I'm trying to think about what could help to troubleshoot the problem...

[2015-03-19 11:47] jouvin commented on #135
From what I can see running `glue-validator` (*), I have the feeling that something is not working with the GIP cache.  This cache is made of 2 files: `/swareas/dteam/gip-ce-dynamic-info-maui.cache` and `/swareas/dteam/gip-ce-dynamic-info-scheduler.cache`. The problematic information is coming from the latter one (`gip-ce-dynamic-info-scheduler.cache`). Could you check that this file is created an

[2015-03-23 14:23] jas01 commented on #135
Le 19/03/2015 � 04:47:28-0700, Michel Jouvin a �crit

 Hi.

 Sorry I didn't see your email because it's tag as spam.

Your right that is the problem. I don't have the symbolic link between

  /var/lib/bdii/gip/ldif/static-file-all-CE-pbs.ldif

and

  /var/glite/static-file-all-CE-pbs.ldif

I create that symlink manually and every thing seem correct now.

I don't understand how that link disapeare.

[2015-04-08 15:08] pigay commented on #135
Dear all,

We came to the same error in midmon (https://midmon.egi.eu/nagios/cgi-bin/extinfo.cgi?host=sitebdii.m3pec.u-bordeaux1.fr&type=2&service=org.bdii.GLUE2-Validate)

We run the same version of `lcg-info-dynamic-scheduler-pbs` as @jas01 also on 14.10 templates, but we can't find an error running `/var/lib/bdii/gip/plugin/lcg-info-dynamic-ce` or `/var/spool/maui/
 gip-info-dynamic-scheduler-p

[2015-04-17 12:36] pigay commented on #135
Hi,

we investigated a bit further on our problem.

We didn't find any occurence of (for example) `GLUE2ComputingShareEstimatedAverageWaitingTime `in any of the `/usr/libexec/lcg-info-dynamic-*` scripts we have on the CE.

we have the following rpms:
* lcg-info-dynamic-maui-2.2.0-3.noarch
* lcg-info-dynamic-scheduler-pbs-2.4.5-1.el6.noarch

We wonder which piece of software /should/ update these e

[2015-04-17 13:06] Pansanel commented on #135
Hi Pierre,

Both RPMs are up to date. What is the content of the following file:
/etc/glite-ce-glue2/glite-ce-glue2.conf

Jerome

[2015-04-17 21:14] pigay commented on #135
Dear Jérôme,

This file doesn't exist. We only have a `/etc/glite-ce-glue2/glite-ce-glue2.conf.template` from glite-ce-cream-utils-1.3.5-1.el6.x86_64.rpm

How the `.conf` file is supposed to be created?

Thanks,

Pierre

[2015-04-18 01:27] jouvin commented on #135
Have you checked that the problem is not the same as for @jas01, the missing symlink? This symlink is needed because of a bug introduce in `lcg-info-dynamic-scheduler` and recently fixed (but may be not yet released).

`glite-ce-glue2.conf` should exist but in `/etc/bdii/gip`.

To troubleshoot this kind of problem, you may want to look at `/var/log/maui-monitoring.ncm-cron.log`. BTW, are you runni

[2015-04-26 09:21] pigay commented on #135
Dear Michel, thanks for helping. Sorry for late reply, I was in holidays.

The symlink looks correct:
[code]

`/etc/bdii/gip/glite-ce-glue2.conf` is present and looks ok, as far as I can see. The file `/etc/glite-ce-glue2/glite-ce-glue2.conf` mentionned by @Pansanel is missing however.

In `/var/log/maui-monitoring.ncm-cron.log`, I see that the cron runs every 5 minutes without errors.

We run 2 C

[2015-04-27 09:22] jrha commented on #135
I don't mind this kind of discussion here, but is this problem specific to the grid template library?
If not, is there a better forum for this where more people could benefit from the discussion?

[2015-04-27 14:48] pigay commented on #135
Dear @jrha, you're probably right. But I think I got it.

@jouvin : by the way, I noticed in quattor-grid mailing list a thread I missed, related to #113. We are not synchronized with this PR (we are in umd3-14.10 I think), so it seems normal that we miss glue2 information...

I'll try to get the correct version and post in quattor-grid if I have trouble.

sorry for the noise.

[2015-04-28 08:28] pigay commented on #135
Finally, it turns out to be a template-grid-library issue.

As @jas01 stated before I pollute this thread, this is a missing symlink problem (I had the same issue with /var/glite/ComputingShare.ldif``).

I couldn't find how these links are created in the templates.

[2015-04-28 10:28] jrha commented on #135
:relaxed:

[2015-04-29 13:44] jrha commented on #120
Any chance of this happening for this round?

[2015-04-29 13:51] jouvin commented on #120
I don't think so... but in fact I am not aware of any significant issue with the current configuration... My prio for this round is EL7 support in the template library.

[2015-04-29 13:55] jrha commented on #120
Ok, I'll bump it and we can check again next time.

[2015-05-04 21:39] jouvin commented on #118
@Pansanel Looks sensible, I'll see if I can do it before 15.4... or feel free to open a PR with your suggestion.

[2015-05-04 21:47] Pansanel commented on #118
Ok, I will propose a PR on Wednesday.

[2015-05-05 14:22] jrha opened #138 "Tidy up ARGUS templates"
As noted in #134, the ARGUS templates are quite messy, with huge blocks of filecopy and usage of `replace()` where `format()` would be better used. They work fine, but let's try to make them nicer.

[2015-05-05 14:23] jouvin opened #139 "ARGUS configuration: replace filecopy by metaconfig"
As discussed/agreed in #134.

[2015-05-05 14:24] jrha commented on #139
Duplicate of #138.

[2015-05-05 14:24] #139 closed

[2015-05-05 14:25] jouvin commented on #139
sorry we did it at the same time! I checked just after you closed #134 and saw there was no issue open yet...

[2015-05-05 15:00] jrha commented on #139
:grinning:

[2015-05-05 17:45] jouvin commented on #135
I had a look to the problem and proposed fix and I am not completly sure this is the right solution to the problem. I now remember that the problem comes from `lcg-info-dynamic-scheduler` that in EMI3 releases was ignoring `ldif_file` and `ldif_file_glue2` in its config file (`/etc/bdii/gip/lcg-info-dynamic-scheduler-pbs.conf`): see https://ggus.eu/index.php?mode=ticket_info&ticket_id=110336 for t

[2015-05-05 17:46] jouvin commented on #101
I'll try to have a look in the remaining days (hours!) before 15.4...

[2015-05-06 07:05] Pansanel commented on #118
See https://github.com/quattor/template-library-grid/pull/140

[2015-05-06 09:43] #118 closed

[2015-05-06 17:04] jouvin commented on #135
See #137 for the discussion explaining why it was a workaround but not a real fix for the problem introduced by the need to work around a bug in `lcg-info-dynamic-scheduler`. #141 should be the real fix.

[2015-05-07 14:27] jouvin commented on #135
I have been very bad following this issue, my apologizes... Anyway, just checking the status of everything after comment https://github.com/quattor/template-library-grid/pull/141#issuecomment-99881571, I realize that there may be some ambiguity about whether your are running a fixed version of the GIP plugin. The real culprit is not `lcg-info-dynamic-sheduler-pbs` but the underlying module `dynsch

[2015-05-07 14:45] jouvin commented on #135
In fact the required version of `dynsched-generic` has been released only in EMI repos (a while ago)... I try to understand the real status...

[2015-05-08 19:36] jouvin commented on #135
For the record, the new version with the bug fix required for this PR will be released by UMD end of may. So let's delay it until 15.6.

[2015-05-08 20:37] jouvin commented on #101
#142 should fix the problem. As SL5 is no longer used on WNs, I decided not take care of SL5 syntax which is a bit different from the SL6+. The main change is that if the version is specified in the Quattor configuration, it is set explicitely in the autofs config, whatever is the default version.

Not really tested but should work... @nowack73 any chance you could give it a try or at least commen

[2015-05-11 09:12] jrha commented on #135
#137 is a workaround, the real fix should be incorporated into #141.

[2015-05-17 18:47] #101 closed

[2015-05-20 03:02] jrha opened #144 "Cleanup umd3 HTCondor templates"
Make use of `format()` and investigate metaconfig suitability.

As discussed in #136.

[2015-08-17 14:08] Pansanel opened #148 "BDII plugin cannot read /etc/lrms/lcg-info-dynamic-maui.defaults"
The logs of the BDII on our CREAM CE is showing the following:
lcg-info-dynamic-maui: Error opening defaults file (/etc/lrms/lcg-info-dynamic-maui.defaults)
lcg-info-dynamic-maui: Exiting without output, GIP will use static values

[2015-09-09 16:22] jrha opened #150 "Configure HEP_OSlibs in a common template"
As discussed in #147, both `personality/ui/rpms/config` and `personality/wn/rpms/config` do essentially the same thing when it comes to installing the appropriate `HEP_OSlibs` package, this duplicated code would be better off in a single common template.

Both `features/hep_oslibs/config` or `features/wlcg/config` were put forward as options.

[2015-09-12 14:16] stdweird commented on #148
@Pansanel with #149 merged, can this be closed?

[2015-09-30 13:08] Pansanel commented on #148
Yes, the issue can be closed.

[2015-09-30 13:08] #148 closed

[2015-11-06 11:56] #150 closed

[2015-12-11 13:24] jrha opened #155 "Cleanup machine and job features templates"
Use of metaconfig etc. as discussed in #152.

[2015-12-18 11:20] jrha opened #156 "Why is VOMS_SERVER_DN a list?"
It is written like a `dict` (or `nlist` given it's age), is this a typo or intentional?
It certainly makes it quite annoying to use.

[2015-12-27 14:17] Pansanel commented on #156
You are right, it may have sense to be a dict. Michel or Guillaume, any ideas about this?

[2016-01-16 23:39] jouvin opened #159 "vo/functions.pan: is the removal of CVMFS mount points really correct?"
Commit b4f30004bbcb7bc866fc54eb455161e3e0077479 introduced a change to directory created/configured as part of the VO configuration on UI and WN, removing the CVMFS mount points from the list. The commit message speaks only about the UI being affected by the change but it seems to affect also WNs and I am surprised that CVMFS can work without the mount point being created before (at least it has n

[2016-01-18 00:15] jouvin commented on #135
After closing #141 (see comments inside), I propose to restart the work on this issue with the last version of GIP CE as provided in #162 and intended to be released in 16.2. The fixed UMD component should have been available for a long time  now and I suggest to remove the workarounds and integrate properly the working version.

[2016-01-18 12:25] jouvin commented on #156
I guess this is a typo... The problem is that this template is not used anywhere in the template library (probably useless) and then was never tested... Fixed.
Note that for me this template is maintained/generated by SCDB UpdateVOConfig task. This may require to fix it to avoid generating this buggy template... or may be just remove it.

[2016-01-18 14:31] jrha commented on #156
We use it at RAL, but by changing it to a dict, it's quite useful.

[2016-01-22 14:24] #156 closed

[2016-02-12 12:51] jrha commented on #159
@Pansanel ping?

[2016-02-12 12:53] jrha commented on #135
@jouvin - #162 is merged, what is left to do?

[2016-02-12 13:04] Pansanel commented on #159
Newly installed WN have the CVMFS directory. It is created by autofs.

[2016-02-12 13:08] jrha commented on #159
Cool, closing this then.
@jouvin - feel free to reopen if you are not convinced, or have evidence that this is not the case.

[2016-02-12 13:08] #159 closed

[2016-02-17 13:04] jrha commented on #135
@jouvin ping?

[2016-02-22 10:51] jrha commented on #135
@jouvin and @jas01 if this is fixed please close this issue, otherwise please move the milestone to 16.4.

[2016-04-27 08:42] almumontiel opened #174 "GIP_CE_MAUI_PLUGIN_DEFAULTS_FILE owner/group"
The owner and group of this file are set to root and 600 permissions in the template ce-maui-plugin-defaults.pan. I get a 'permission denied error' for the user ldap.
Why not to set the permissions to 644 by default?

[2016-05-11 06:32] Pansanel commented on #174
The issue has been fixed previously in commit https://github.com/quattor/template-library-grid/commit/bdcc6de3e8f86cda14a597b053a282ca582c6d61, however a recent commit removed the fix. I fix this issue.

[2016-05-11 10:22] #174 closed

[2016-05-24 21:22] jouvin opened #177 "Env variable SASL_PATH defined to an invalid value"
`features/globus/env.pan` improperly defines `$SASL_PATH` to `/usr/lib/sasl` (which doesn't exist, SASL is installed in `/usr/lib64/sasl2`). This is probably a leftover from very very ancient time, when Globus was providing a non standard SASL version.
This doesn't seem to have any impact on the grid MW itself (else we'll have had complaints!). But it breaks any attempt to use SASL on the machine,

[2016-06-21 19:45] jouvin commented on #177
Would be good to merge it if no objection...

[2016-06-23 07:06] #177 closed

[2016-07-27 13:51] apdibbo opened #181 "Grid templates not useable in Aquilon"
Unfortunately we are unable to use the grid templates as intended as we are unable to include "defaults/grid/config". In particular we are currently trying to use the templates to create a BDII

This is due to the use of DB_MACHINE which is not used in Aquilon and I can't see a straight forward way of constructing this.

[2016-10-25 05:54] Pansanel commented on #155
The templates should also use the following tools:
https://gitlab.cern.ch/machinejobfeatures/mjf-scripts/blob/master/mjf.init

The /etc/machinefeatures should be dynamically created at boot time and/or update. It permits to remove the '''/etc/machinefeatures/shutdowmtime''' file, as if it exists, it prevents job to start (at least for the CMS VO).

[2016-11-10 15:26] jas01 opened #183 "Missing symbolic link"
They are a missing link or a misconfigure file inside the bdii configuration.

The configuration file

    /etc/bdii/gip/lcg-info-dynamic-scheduler-pbs.conf

claim

    [Main]
    static_ldif_file: /var/glite/static-file-all-CE-pbs.ldif
    static_glue2_ldif_file_computingshare: /var/glite/ComputingShare.ldif

but the file

    /var/glite/ComputingShare.ldif

are in fact in

    /var/lib/bdii/gip/

[2016-11-30 08:21] almumontiel opened #186 "add configuration options"
could the configuration of the groups be extended with the setting of priorities for the groups? GROUP_PRIO_FACTOR_group_*
Also NEGOTIATOR_ALLOW_QUOTA_OVERSUBSCRIPTION.

[2017-05-05 16:49] almumontiel opened #194 "condor_submit fails with SMPgranularity parameter"
I have configured a CREAM-CE with htcondor batch system.

When I include the variable:
SMPgranularity = $CORES;
in my JDL code, I get from CREAM an error of the condor_submit script
 05 May 2017 16:25:35,580 INFO  AbstractJobExecutor             - JOB CREAM389568339 STATUS CHANGED: PENDING => ABORTED [description=submission to BLAH failed [retry count=3]] [failureReason=BLAH error: submission comm

[2017-05-05 17:12] guillaume-philippon commented on #194
Hi,

It s a bug on blah parser. I ve done a PR (https://github.com/prelz/BLAH/pull/7) which was merged but apparently not available yet.

REgards

[2017-05-05 18:39] almumontiel commented on #194
great!
thanks for sharing so quickly.

[2017-05-05 18:39] #194 closed

[2017-05-12 13:51] almumontiel opened #195 "published info with htcondor"
The bdii plugins are correct, and shows the right number of GlueCEStateRunningJobs when using htcondor batch system (/var/lib/bdii/gip/plugin/lcg-info-dynamic-scheduler-wrapper via /usr/libexec/lcg-info-dynamic-scheduler), but it is not being updated in the bdii slapd.
Bdii log shows no error. Number of GlueCEStateRunningJobs is always kept to 0.

[2017-05-22 19:33] guillaume-philippon commented on #195
I will have a look. seems strange that was not triggered here.

[2017-05-30 16:49] almumontiel commented on #195
I mean:

[root@grid003 ~]# /var/lib/bdii/gip/plugin/lcg-info-dynamic-scheduler-wrapper |more
dn: GlueCEUniqueID=grid003.ft.uam.es:8443/cream-condor-default,Mds-Vo-name=resource,o=grid
GlueCEStateWaitingJobs: 0
GlueCEStateRunningJobs: 5
GlueCEStateTotalJobs: 5
GlueCEStateEstimatedResponseTime: 703
GlueCEStateWorstResponseTime: 1430
GlueCEStateFreeJobSlots: 43

dn: GlueVOViewLocalID=phys.vo.ibergrid

[2017-07-25 06:44] Pansanel commented on #86
@jouvin : may we close this bug? WMS should be decommissioned this year and probably that nobody will fix this issue.

[2017-09-19 06:40] almumontiel opened #199 "template personality/cream_ce/templates/cream-config.templ"
JOB_SUBMISSION_MANAGER_SCRIPT_PATH should take /etc/glite-ce-cream-ce-utils/glite_cream_load_monitor.conf instead of  /etc/glite-ce-cream-utils/glite_cream_load_monitor.conf, because of the configuration in personality/cream_ce/monitor.pan which is using hard-coded path to  /etc/glite-ce-cream-ce-utils/glite_cream_load_monitor.conf

[2017-09-19 09:13] Pansanel commented on #199
Does the last version of https://github.com/quattor/template-library-grid/blob/umd-3/personality/cream_ce/monitor.pan fix your issue?

[2017-09-19 09:54] almumontiel commented on #199
thanks for the quick answer.
Yes it does.
Sorry, I didnt check that out before submitting the issue.
Let me close it.

[2017-09-19 10:29] Pansanel commented on #199
When I have pushed the code, I checked how to include a variable in a prefix. It seems not to be supported actually. It would be much more cleaner.

[2017-09-19 10:39] jrha commented on #199
Variables in a `prefix` are not supported, but the PR I just opened should solve your problem.

[2017-09-19 10:57] #199 closed

[2017-09-19 10:58] stdweird commented on #199
fyi `prefix` is a preprocessor statement, not part of the any evaluated dml.

[2017-09-20 09:09] CatalinCondurache opened #201 "three VOMS servers for each VO supported by UK VOMS servers"
There are currently three VOMS servers (voms.gridpp.ac.uk, voms02.gridpp.rl.ac.uk, voms03.gridpp.rl.ac.uk) used by various VOs supported by the UK VOMS service.

Only one VO (t2k.org) is correctly and fully configured within the template-library-grid/vo/params/t2k.org.pan template, the rest of them (babar, camont, comet.j-parc.jp, gridpp, mice, minos.vo.gridpp.ac.uk, na62.vo.gridpp.ac.uk, neurogri

[2017-09-20 11:06] Pansanel commented on #201
Hi Catalin,
The templates are generated by the `external/ant/bin/ant vo.update.config` command, therefore  they are not actively maintained on the trunk.
If, after running the above command, the VOMS are not correctly configured, then it means that the VO ID card is not correctly filled on the [operation portal](https://operations-portal.egi.eu/vo/search).
Cheers,
Jerome

[2017-09-20 11:14] CatalinCondurache commented on #201
Hi Jerome,

Not sure if I understand (or agree with you).
Have a look at https://operations-portal.egi.eu/vo/view/voname/snoplus.snolab.ca
All three UK voms servers are listed there, however the snoplus.snolab.ca.pan file contains only one.

Then have a look at https://operations-portal.egi.eu/vo/view/voname/t2k.org
Also all three UK voms servers are listed there, but this time the t2k.org.pan fil

[2017-09-20 13:51] jrha commented on #201
If we don't expect the templates in master to be valid then we shouldn't distribute them there, we should make this clear in the documentation.
Alternatively we should regularly run `vo.update.config` and push the results to this repo.

[2017-10-26 15:41] ned21 commented on #201
@jouvin @guillaume-philippon Any thoughts on this one?

[2017-10-26 15:43] jrha commented on #155
@Pansanel do you have any time to look at solving this?

[2017-11-30 13:31] Pansanel commented on #86
For your information, WMS should be decommissioned at the end of 2017.

[2017-11-30 13:34] Pansanel commented on #201
@jrha : we can have a set of default templates, but we should make clear in the documentation to run the vo.update.config command to be sure to have an updated version of the files.

[2017-11-30 14:30] jrha commented on #201
@Pansanel the problem for us is that the `vo.update.config` command is an SCDB ant task and is not present with Aquilon.

[2017-11-30 14:32] jrha commented on #201
Also see https://github.com/quattor/scdb-ant-utils/issues/19

[2017-11-30 14:35] jrha commented on #86
@jouvin Due to decommissioning of the WMS by the end of this year I am marking this as won't fix and closing it, if you still feel that it needs fixing, please feel free to re-open it.

[2017-11-30 14:35] #86 closed

[2017-12-18 08:27] almumontiel opened #204 "htcondor repo"
template template-library-grid/repository/config/htcondor.pan
Currently the repository defined by HTCONDOR_YUM_REPOSITORY_NAME is not being used. According to line 64:

variable YUM_HTCONDOR_REPOSITORY_LIST ?= {
  if ( !is_null(YUM_HTCONDOR_REPOSITORY_LIST) ) {
    **append('htcondor');**
  };
};

only 'htcondor' is appended.
Shouldn't it be append(HTCONDOR_YUM_REPOSITORY_NAME);  instead?

Cheers

[2017-12-19 14:29] jrha commented on #204
I think so, yes.

[2018-01-04 13:20] #204 closed

[2018-05-01 09:29] #155 closed

[2018-05-31 14:50] almumontiel opened #212 "umd-4/features/htcondor/client/service.pan does not compile"
With this error
  [panc] evaluation error [/home/almudena/workspace/trunk/cfg/grid/umd-4-new/features/htcondor/client/service.pan:13.28-18.9]
  [panc] referenced variable of type nlist is not a list
[...]

[2018-06-01 11:48] pugnere opened #213 "umd-4/personality/wn/rpms/config.pan 'emi-wn' rpm on sl6 and 'wn' rpm on centos7"
The rpm for worker-nodes in http://repository.egi.eu/sw/production/umd/4/centos7/x86_64/updates/ is 'wn' and for http://repository.egi.eu/sw/production/umd/4/sl6/x86_64/updates/ it is 'emi-wn'

[2018-08-01 10:11] almumontiel opened #214 "features/htcondor/server/groups: voms-clients package renamed"
The package voms-clients3 is included. But the new UMD 4 repo updates it to use voms-clients-java instead.
I follow couple of references (issues) regarding this:
https://issues.infn.it/jira/browse/CREAM-186
https://ggus.eu/index.php?mode=ticket_info&ticket_id=136074

[2018-08-01 13:11] jouvin commented on #214
@almumontiel I think it is a well known issue but I was not directly involved in fixing it andI don't know if the fix we did at GRIF was upstreamed... @sartiran @guillaume-philippon or @victor-mendoza may know but I don't know if they are here these days (I know that @guillaume-philippon is in vacation until mid-august).

[2018-08-01 13:17] sartiran commented on #214
Hi,

the fix we have at GRIF (adding a variable to allow changing the name of the voms package to include) was not upstreamed indeed. If you want, I can make a PR with this plus other recent changes.

Regards,
Andrea

[2018-08-02 09:31] jrha commented on #214
Yes please!

[2018-08-02 14:43] sartiran commented on #214
OK. There are quite some changes that have running in prod since a while here at GRIF and have never been upstreamed to the quattor repository. I'm preparing a PR (but it may take some time).

[2018-08-03 08:47] jrha commented on #214
Many thanks

[2018-08-06 11:05] sartiran commented on #214
PR done https://github.com/quattor/template-library-grid/pull/215

[2018-10-18 09:39] #214 closed

[2018-10-30 08:54] Pansanel commented on #201
It is probably the best way. It will also prevent to have up to several copies of VOMS configurations an be sure that all are synchronized.

[2018-10-30 09:01] CatalinCondurache commented on #201
And I won’t be surprised if many sites are already maintaining their templates with their own supported VOs

Catalin

From: Jerome Pansanel [mailto:notifications@github.com]
Sent: 30 October 2018 08:54
To: quattor/template-library-grid
Cc: Condurache, Catalin (STFC,RAL,SC); Author
Subject: Re: [quattor/template-library-grid] three VOMS servers for each VO supported by UK VOMS servers (#201)

It is

[2018-10-30 10:44] Pansanel commented on #212
Can you check with the new version of the htcondor code?

[2018-10-30 11:30] Pansanel commented on #201
@jouvin : I will start to write a voms-tools to get data from the ops portal and generate the site templates. Should I create a new project within Quattor (named voms-tools) or use an already existing project?

[2018-10-30 13:54] jrha commented on #201
As discussed, open a PR against the newly renamed "tools" repository.

[2018-10-30 13:54] jouvin commented on #201
@Pansanel thanks! [Tools](https://github.com/quattor/tools) repo (formerly aquilon-tools despite is was intended for Aquilon and SCDB tools) is probably the most appropriate one.

[2018-10-30 14:47] Pansanel commented on #144
Has the issue been solved with the recent UMD-4 HTCondor templates? If it is not the case, I suggest to replace UMD-3 by UMD-4 in the issue title.

[2018-10-30 14:55] Pansanel commented on #183
It seems that you are using a old version of the templates. ```static_ldif_file``` is defined as:
[code]
And ```GIP_LDIF_DIR``` is defined in  ```cfg/grid/umd-3/features/gip/env.pan``` as :
[code]

[2018-10-30 14:55] #183 closed

[2018-10-30 14:57] Pansanel commented on #186
@guillaume-philippon @sartiran could you check this?

[2018-10-31 10:14] Pansanel opened #221 "Support for new CE types (ARC CE, HTCONDOR CE)"
MAUI is not supported anymore and is not available for CentOS 7. Grid sites should migrate either to SLURM or HTCONDOR batch system. In the same time, site admins should consider to use ARC CE (or HTCONDOR CE) if they plan to deploy HTCONDOR (most sites using HTCONDOR have deployed ARC CE).
Would it be possible to have a set of template for ARC CE?

[2018-10-31 10:22] jrha commented on #221
I will try and publish what we have for our ARC CEs!

[2019-01-08 15:40] StephaneGerardVUB opened #225 "Global variables set to null by default"
In many places, we see global variables initialized by default (?=) to 'null' and we would like to understand why is it so. An example:
[code]
at the beginning of personality/wn/cloning/standard. Due to the major change in the way null is considered with PAN 10.7, it prevents site level default assignment from working. For example, if you subsequently set:
[code]
at the level of the site, it won't

[2019-01-08 15:49] jrha commented on #225
@jouvin?

[2019-01-08 17:38] jouvin commented on #225
@StephaneGerardVUB I think you are right that there is a potential problem with panc 10.7. With the last version of the template library, we have not seen problems at LAL so I expect they will be not to many... As for `null` vs. `undef` as a default value, it used to be a little bit a matter ot taste as the effect was the same. But there are a few cases where it is intentional to offer a 3-state v

[2019-01-09 12:56] StephaneGerardVUB commented on #225
@jouvin Here at IIHE, we had problems because in template global_variables, we use default affectations. For example:
[code]
For us, it is useful to keep it like that because it allows us to override in the object template before the inclusion of the machine-type in order to make some tests.

Regarding `wn/cloning`, sorry, I took a wrong example.

[2019-02-06 11:59] almumontiel opened #226 "collisions group id"
On a fresh install with centos7 (7.6.1810)  which uses the uses infosys and edginfo users, I find collisions in the groupid.

[INFO] running component: accounts
---------------------------------------------------------
[INFO] System has 33 accounts in 57 groups
[WARN] No groups found for root in the system. Assigning default ones: root, adm, bin, daemon, sys, disk
[INFO] Changing gid of group nagi

[2019-04-26 12:35] Pansanel commented on #221
Hi @jrha
Any news?

[2019-04-29 12:19] jrha commented on #221
Hi @Pansanel, I will make sure I publish what we have in the next few weeks, sorry for the delay.

[2019-12-12 16:28] jrha opened #229 "Check if EDG/LCG sysconfig really needed on a UI"
From #223

[2020-03-04 17:57] jrha commented on #226
This is fixable, but would changing the UIDs of templated accounts harm existing installs?

[2020-03-05 14:45] jrha commented on #221
@Pansanel better late than never I suppose.

[2020-05-11 15:56] Pansanel opened #234 "The name of the variable "VOS" does not follow Panlint requirements"
The name of the variable called "VOS" is too short. Panlint required to have at least 5 characters. I would propose to rename VOS by ENABLED_VOS.

[2021-04-12 10:39] jrha commented on #234
As a side-note we have been using `SUPPORTED_VOS` here at RAL.

[2021-04-12 15:19] Pansanel commented on #234
@jrha SUPPORTED_VOS sounds good to me!

[2021-04-13 13:18] pugnere opened #238 "GSISSH_PORT to be converted to string for replace in cfg/grid/umd-4/personality/ui_gsissh/config.pan"
in cfg/grid/umd-4/personality/ui_gsissh/config.pan, the GSISSH_PORT is a long, but for the replace function, it has to be a string, so :
[code]
I suggest :

[code]

[2021-04-27 14:11] #238 closed

[2021-06-21 08:42] pugnere opened #240 "grid/umd-4/features/gip/ce.pan CE_FLAVOR test match against cream or condorce"
[code]
to be replaced with :

[code]

[2021-06-22 15:45] #226 closed